/nbproject/private/
application/config/database.php
nbproject/project.properties
nbproject/project.xml
application/config/database.php
application/config/database.php
application/config/database.php
application/views/registration/dump_sms_gate.php